###############################################################################
# Maven
###############################################################################
target/
**/target/

###############################################################################
# Gradle
###############################################################################
build/
**/build/

.gradle/
**/.gradle/

###############################################################################
# Java IDE Output
###############################################################################
bin/
**/bin/

###############################################################################
# Flutter
###############################################################################
.dart_tool/
**/.dart_tool/

###############################################################################
# Preview Cache
###############################################################################
storage/preview-cache/
**/storage/preview-cache/

###############################################################################
# IDE Files
###############################################################################
.idea/
.settings/
.vscode/
*.iml

###############################################################################
# Logs
###############################################################################
*.log

###############################################################################
# Temp Files
###############################################################################
*.tmp
*.temp

###############################################################################
# OS Files
###############################################################################
.DS_Store
Thumbs.db
